APP_DESCRIPTION=Meklējiet akordus un dziesmu vārdus latviešu dziesmām un atrodiet tūkstošiem populāru dziesmu datubāzē.
APP_NAME=Akordi.lv
APP_TITLE=Dziesmu vārdu, akordu un tabu krātuve
AUTH_URL=http://id.akordi.localhost:4433
AUTH_ENABLED=false
BASE_URL=http://www.akordi.localhost:5173
DEFAULT_LANGUAGE=lv
ENVIRONMENT=development
GTAG_ENABLED=false
GTAG_ID='G-DSGMXRC1GP'
PUBLIC_URL=http://www.akordi.localhost:5173/
SERVICE_URL=http://www.akordi.localhost:5173/api/