APP_NAME=Akordi
APP_DESCRIPTION=Akordi
SERVICE_URL=https://akordi.dev/api/
AUTH_URL=https://id.akordi.dev/
ENVIRONMENT=development
PUBLIC_URL=https://akordi.dev/
GTAG_ENABLED=false
GTAG_ID='G-DSGMXRC1GP'
DEFAULT_LANGUAGE=lv
APP_NAME=Akordi.lv
APP_TITLE=Dziesmu vārdu, akordu un tabu krātuve
APP_DESCRIPTION=Meklējiet akordus un dziesmu vārdus latviešu dziesmām un atrodiet tūkstošiem populāru dziesmu datubāzē.