.lx {
  --color-brand: #07004d;
  --color-interactive-background: #07004d;
  --color-interactive-hover-background: #2038b5;
  --color-background: hwb(240 92% 6%);
  --color-highlight: #ddecff;
  --color-layout-background: #111;
  --color-interactive-secondary-background: #111;
  --color-grid-hover-background: #ddd;
  --gap-form: 1rem;
  --font-size: 14px;
  --color-interactive-foreground: #ffffff;
}

.lx.lx-theme-dark {
  --color-brand: #607afb;
  --color-interactive-background: #607afb;
  --color-interactive-hover-background: #4860db;
  --color-interactive-foreground: #ffffff;
  --color-highlight: #303f70;
}