.lx {
  --color-brand: #07004d;
  --color-interactive-background: #07004d;
  --color-interactive-hover-background: #050036;
  --color-background: hwb(240 92% 6%);
  --color-highlight: #ddecff;
  --color-layout-background: #111;
  --color-interactive-secondary-background: #111;
  --color-grid-hover-background: #ddd;
  --gap-form: 1rem;

  --color-button-nav-selected-background: var(--color-highlight);
}

.lx.lx-theme-dark {
  --color-brand: #1483fb;
  --color-interactive-background: #3d9bff;
  --color-interactive-hover-background: #1173db;
  --color-highlight: #364485;

  --color-button-nav-selected-background: var(--color-highlight);
}
